.game-btn {
    padding: 15px;
    margin: 30px auto;
    background-color: #1c376c;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #031945;
    cursor: pointer;
}

.game-btn:hover {
    opacity: 0.8;
}

.game-detailed-photo {
    width: 40%;
    box-shadow: 2px 2px 20px #031945;
    border-radius: 30px;
    border: 1px solid white;
}   

.game-detailed-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-detailed-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.game-detailed-clip {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.clip-container video {
    width: 100%;
    border-radius: 30px;
    border: 1px solid white;
    margin: 0.3rem;
    box-shadow: 2px 2px 20px #031945
}